In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
obj = Series(range(10,15))
obj

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [13]:
type(obj), type(obj.values), type(obj.index)

(pandas.core.series.Series,
 numpy.ndarray,
 pandas.core.indexes.range.RangeIndex)

In [14]:
obj.values

array([10, 11, 12, 13, 14])

In [15]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
obj1 = Series([10,3,40,50], index= ['A','B','C','D'])
obj1

A    10
B     3
C    40
D    50
dtype: int64

In [20]:
obj1['D']

50

In [21]:
obj1[obj1>30]

C    40
D    50
dtype: int64

In [22]:
'C' in obj1

True

In [23]:
# Converting series to dictionary
obj1_dict = obj1.to_dict()
obj1_dict

{'A': 10, 'B': 3, 'C': 40, 'D': 50}

In [28]:
# Converting from dict to series
obj1_from_dict = Series(obj1_dict)
obj1_from_dict

A    10
B     3
C    40
D    50
dtype: int64

In [31]:
obj1.notnull()

A    True
B    True
C    True
D    True
dtype: bool

In [32]:
obj2 = obj1.add(obj1_from_dict)
obj2

A     20
B      6
C     80
D    100
dtype: int64

In [35]:
s1 = Series([1,2,3,4],index=['a','b','c','d'])
s2 = Series([1,2,3,4],index=['a','b','c','e'])
s3 = s1+s2
s3

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

In [37]:
# Replacing Values in a Series
s3.replace(np.nan, 10, inplace=True)
s3

a     2.0
b     4.0
c     6.0
d    10.0
e    10.0
dtype: float64

In [42]:
s1 = Series([1, 2], index=['A', 'B'], name='s1')
s2 = Series([3, 4], index=['A', 'B'], name='s2')
s3 = pd.concat([s1, s2], axis=0)
s3

A    1
B    2
A    3
B    4
dtype: int64

In [43]:
type(s3)

pandas.core.series.Series

In [44]:
s4 = pd.concat([s1, s2], axis=1)
s4

   s1  s2
A   1   3
B   2   4

In [45]:
type(s4)

pandas.core.frame.DataFrame